<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Band detail page</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<div class="container">

<h1>Welcome to my Spring calculator!</h1>

    <h3>Please enter your name below:</h3>

    <form action="/" method="post">

        <label for="calculatoruser">Name:</label>
        <input type="text" id="calculatoruser" name="calculatoruser"/>

<div>
    <input type="tel" name="number1" th:value="${total}"/>
    <select name="operator">Operator
        <option value="+">Plus</option>
        <option value="-">Minus</option>
        <option value="*">Times</option>
        <option value="/">Divided by</option>
    </select>
    <input type="tel" name="number2" />
    <input type="submit" value="Calculate"/>



</div>
    </form>

<h3 th:text="${calculatedTotal}"></h3>



</div>
</body>
</html>