<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Band detail page</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<div class="container">

    <h3 th:inline="text">[[${calculatoruser}]], here are the operations you've saved:</h3>

    <div class="operation" th:each="operation : ${operations}" th:inline="text">
        <p>[[${operation.operandone}]] [[${operation.operator}]] [[${operation.operandtwo}]] = [[${operation.total}]]</p>

    </div>

</div>
</body>
</html>